@import "variables";
@import "colors";
@import "global";
@import "typography";
@import "normalize";
@import "componentsStyle/header";
@import "componentsStyle/about-us";
@import "componentsStyle/benefits";
@import "componentsStyle/get-info";
@import "componentsStyle/footer";
@import "components/buttons";
@import "mediaQueries/mediaQueries";



@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  color: #48555B;
}

.wrapper{
  overflow: hidden;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 20px;
}

.blue_text {
  color: $aquaBlue;
}

.logo {
  width: fit-content;

  object {
    pointer-events: none;
    width: 100px;
    height: 20px
  }
}